version: "3.9"

services:

  mongodb:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: discover-backend
    restart: always
    environment:
      DB_URL: "mongodb://mongodb:27017/cruddb"
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: discover-frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
